@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model InvoiceDetails

@{
    ViewBag.Title = "Edit";
}


<div class="span6">
    @{Html.RenderAction("DetailsPartial", "Invoice", new { id = Model.InvoiceID});}
</div>

<div class="span9">
    @{Html.RenderPartial("EditOrAddInvoiceDetailsPartial", Model);}
</div>