@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@

@model Invoice

@{
    ViewBag.Title = "Details";
}

<div class="span5">
    @{Html.RenderPartial("InvoiceDetailsPartial", Model);}
</div>

<div class="span10">
    @{Html.RenderAction("IndexByInvoice", "InvoiceDetails", new {id = Model.InvoiceID});}
</div>