@{
    ViewBag.Title = "Página principal";
}

<p align="right" style="float:right">
    @Html.ActionLink("[+] Create new Invoice", "Create","Invoice", null, new { @class = "btn primary" })
    @Html.ActionLink("[+] Create new expense", "Create", "Purchase", null, new { @class = "btn primary" })
</p>

<h2>Dashboard</h2>

<table width="100%">
<tr>
    <td width="50%">
     <h3>Invoices Overdue</h3>
      @{Html.RenderAction("OverDueInvoices","Invoice");}

      <h3>Unpaid invoices</h3>
      @{Html.RenderAction("UnPaidInvoices","Invoice");}
    </td>
    <td>
       <h3>Recent purchases</h3>
      @{Html.RenderAction("RecentPurchases","Purchase", new {top=5});}
    </td>
</tr>
<tr>
    <td>
        <h3>This Quarter</h3>
        @{Html.RenderAction("ThisQuarterSummary", "Reports");}
    </td>
    <td>
        <h3>This year</h3>
        @{Html.RenderAction("YearSummary", "Reports", new {id=DateTime.Now.Year});}

        <h3>Last year</h3>
        @{Html.RenderAction("YearSummary", "Reports", new { id = DateTime.Now.Year-1 });}
    </td>
</tr>
</table>
