@{
    ViewBag.Title = "Página principal";
}

<h2>Dashboard</h2>

<table width="100%">
<tr>
    <td>
      <h3>Unpaid invoices</h3>
      @{Html.RenderAction("UnPaidInvoices","Invoice");}
    </td>
    <td>
       <h3>Recent purchases</h3>
      @{Html.RenderAction("RecentPurchases","Purchase");}
    </td>
</tr>
</table>
