@*
	Iván Loire - www.iloire.com
	Please readme README file for license terms.

	ASP.NET MVC3 ACME Invocing app (demo app for training purposes)
*@
@model PurchaseType

@{
    ViewBag.Title = "Delete Expense Type";
}

<h2>Delete Expense Type</h2>


<div class="alert-message warning">
  <a class="close" href="#">×</a>
  <p><strong>Are you sure you want to delete this PurchaseType?</strong></p>
</div>

<fieldset>
    <legend>PurchaseType</legend>
  <p>
        <strong>Name: </strong>
		@Html.DisplayFor(model => model.Name)
  </p>
  <p>
        <strong>Descr: </strong>
		@Html.DisplayFor(model => model.Descr)
  </p>
</fieldset>
@using (Html.BeginForm()) {
	<div class="actions">
            <input type="submit" class="btn primary" value="Delete" />
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn"})
    </div>
}
