span.login 
{
    color:White;    
}

ul.filtroAlfab 
{
    list-style-type:none; 
    margin:0px;
    float:left;
}

ul.filtroAlfab li 
{ 
    float:left;
}

ul.filtroAlfab li a 
{
    margin:2px;
    font-size:120%;
    border: 1px solid #f5f5f5;
    padding:4px 6px;    
}

div.pagingContainer
{
    float:right;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

