div#login 
{
    padding:20px;    
}

div#login img.logo 
{
    margin:10px 0px 30px 0px;    
}

span.login 
{
    color:White;    
}

ul#adminmenu
{
    margin-left:50px;    
}


ul.filtroAlfab 
{
    list-style-type:none; 
    margin:0px;
    float:left;
}

ul.filtroAlfab li 
{ 
    margin:2px;
    font-size:160%;
    border: 1px solid #f5f5f5;
    padding:6px 8px;   
    float:left;
}

ul.filtroAlfab li.selected
{ 
    background-color:#333333;
    color:White;
}

ul.filtroAlfab li a 
{
   color:#333333;
}

div.pagingContainer
{
    float:right;
}

input.money 
{
    width:100px;       
}

select.vat 
{
    width:60px;
}

div.searchBox { 
                margin:10px 0px 10px 0px;
                border:3px solid #f2f2f2;
                padding:15px 10px 10px 15px;
                -webkit-border-radius:0 3px 3px 0;
                -moz-border-radius:0 3px 3px 0;
                border-radius:0 3px 3px 0;
                }
                
div.searchBox div.setQuarter
{
    padding:5px;
    margin:5px 0px 0px 30px;   
}                

div.searchBox div.setQuarter div
{
    padding:4px;
}

div.searchBox div.setQuarter a
{
    color:Gray; 
    font-size:120%;
    text-decoration:underline;
}

/*dashboard*/

table.dashboard table th, table td {
    padding: 6px 6px 6px 6px !important;
}

.periodSummary
{
    clear:both;    
    border:3px solid #f2f2f2;
    padding:15px 10px 10px 15px;
    -webkit-border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;     
    margin-bottom:20px;           

}

.periodSummary .chart_summary
{
    float:right;
}
.periodSummary .summary
{
    margin:10px 0px 10px 0px;
    padding:10px;        
}

.periodSummary .summary .big
{
    font-size:130%;
    font-weight:bold;    
}

.periodSummary .summary hr
{
    margin: 5px;    
}
.periodSummary .summary h4
{
    margin-bottom:15px;
}

.negative 
{
    font-weight:bold;
    color:Red;
}

.positive
{
    font-weight: bold;
    color:Green;    
}

textarea.proposalDetails
{
    height:400px;
    min-width:400px;
}

textarea.proposalNotes
{
    height:100px;
    min-width:450px;
}

table.proposal tfoot tr td
{
    border-top:3px solid #f2f2f2;
    font-weight:bold;
    font-size:1.1em;
}

table.InvoiceFooterTotals td.title
{
    font-weight:bold;
    text-align:right;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors, .validation-summary-errors ul li {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

h4 {
    line-height: 20px !important;    
}

td.total 
{
    font-weight:bold;
    background-color:#f5f5f5 !important;
}

.expense{color:red}
.income{color:green}

.noborder{border:0}